* {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

// WRAPPER LIMIT
.off-canvas-wrapper {
	margin: 0 auto;
}

// FONT
.mdi {
    font-size: 24px;
    &.size20 {
        font-size: 20px;
    }
    &.size18 {
        font-size: 18px;
    }
}

// DISPLAY
.d-flex {
    display: flex;
    &.aic {
        align-items: center;
    }
    &.jcc {
        justify-content: center;
    }
    &.jcfe {
        justify-content: flex-end;
    }
    &.jcsb {
        justify-content: space-between;
    }
}
.flex-1 {
    flex: 1;
}
.dib {
    display: inline-block;
}

.db, .dblock {display: block;}

a:focus, a:hover {
    color: $blue;
}

.fl {float: left;}
.fr {float: right;}
.fwd {width: 100%;}
.half {width:50%;float: left;}
.third {width:33.3%;float: left;&:nth-child(2){width: 33.4%}}
.fourth {width: 25%;float: left;}
.clr:after {clear: both;content: ".";display: block;height: 0;overflow: hidden;visibility: hidden;}
.cbt {clear: both;}
.posr {position: relative;}
.fblock {margin-bottom: 10px;}
.overflow-x-scroll {overflow-x: scroll;}

ul, ul ul, ol ul, ul ol, ol ol {margin-left: 0;}
ul li {list-style: none;}
ul.dotted {li {list-style-type:disc;list-style-position: inside;}}
.small, small {font-size: $font-size-small;}
.smallest {font-size: 0.8125rem;}
.fs-i {font-style: italic;}

:focus {outline: none;}
.gap-main {margin:20px 0;}

.white-bg {background-color: $white !important;}
.primary {color: $primary-color;}
.text-primary {color: $primary-color !important;}
.red {color:$red;}
.blue {color:$blue;}
.orange {color:$orange;}
.gray {color: $dark-gray;}
.white {color: $white;}
.black {color: $black;}
.green {color: $green;}
.yellow {color: $yellow;}
.blue-link {color:$blue;&:hover{color:$primary-color;}}
.gray-link {color:$dark-gray;&:hover{color:$black;}}
.red-link {color:$red;&:hover{color:$red;}}
.fwb{font-weight: bold !important;}
.fw500{font-weight: 500;}
.fwn{font-weight: normal;}
.normal-text {font-size: $font-size;}
.small {font-size: .9rem;}
.big {font-size: 1.1rem;}
.bigger {font-size: 1.3rem;}
.supersmall {font-size: .8rem;}
.superbig {font-size: 1.9rem;}
.upcase {text-transform: uppercase;}
.tac {text-align: center;}
.tal {text-align:left;}
.tar {text-align:right;}
table.small-text {font-size: $font-size-small;}

.bb10 {border-bottom: $code-border;padding-bottom: 10px;margin-bottom: 10px;}
.shown {display: block !important;}
.hidden {display: none !important;}

.elipsis,.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.line-through {
    text-decoration:line-through;
}

select, input {
    border-radius: 4px !important;
    &.highlight {
        border-color: $red;
    }
}
select {
    padding-left: .7rem;
    cursor: pointer;
}
textarea {
    resize: none;
    border-radius: 4px;
}
select,[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
margin-bottom: 0;}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.search-form {
    .search-bar {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        padding-left: 10px;
    }
    .button {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        @include breakpoint(large) {
            margin-left: -1px;
        }
    }
}
.input-group {
    .input-group-field {
        height: 2.4375rem;
        padding-left: .7rem;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
    .input-group-button {
        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 2.4375rem;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            background-color: $white;
            color: $primary-color;
            border: 1px solid #cacaca;
            border-left: none;
            &.bg-gray {
                background-color: $lighter-gray;
                color: #00a0a7;
            }
        }
    }
}
.custom-checkbox {
    display: block;
    position: relative;
    padding-left: 32px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: $font-size;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:last-child {margin-bottom: 0;}
    input {
        width: 0;
        height: 0;
        position: absolute;
        opacity: 0;
        cursor: pointer;
        &:checked ~ .checkmark {
            background-color: $primary-color;
            border: none;
            &:after {
                display: block;
            }
        }
    }
    .checkmark {
        position: absolute;
        top: 3px;
        left: 0;
        height: 20px;
        width: 20px;
        border: 2px solid $medium-gray;
        border-radius: 4px;
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 6px;
            top: 2px;
            width: 7px;
            height: 13px;
            border: solid white;
            border-width: 0 3px 3px 0;
            border-radius: 2px;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
    &.checkbox-small {
        font-size: $font-size-small;
        padding-left: 28px;
        .checkmark {
            top: 3px;
            height: 18px;
            width: 18px;
            &:after {
                left: 6px;
                top: 1px;
                width: 6px;
                height: 12px;
                border: solid white;
                border-width: 0 2px 2px 0;
                border-radius: 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
    }
}

.delete-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.4375rem;
    height: 2.4375rem;
    line-height: 1;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    i {
        color: $medium-gray;
    }
    &:hover {
        i {
            color: $primary-color;
        }
    }
    @include breakpoint (medium down) {
        height: 2rem;
        i {font-size: 20px;}
    }
}

.precision-img {
    position: relative;
    width: 55px;
    padding-top: 55px;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &.lighter-bg {
        img {
            background-color: $lighter-gray;
        }
    }
    &.pi-w100 {
        width: 100px;
        padding-top: 100px;
    }
}
.radius-circle {
    border-radius: 50% !important;
}
.radius-4 {
    border-radius: 4px;
}
.radius-6 {
    background-repeat: 6px;
}

.img-135 img {
    width: 135px;
}

// Slick Lighbox
.slick-lightbox-slick {
    .slick-next, .slick-prev {
        background-color: rgba(255, 255, 255, .2);
        &:before {
            color: $white;
        }
    }
    .slick-prev {
        left: 1rem;
    }
    .slick-next {
        right: 1rem;
    }
    .slick-dots {
        bottom: 1rem;
    }
}
.slick-lightbox-slick-item-inner {
    position: relative;
    width: 650px;
    padding-top: 650px;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        max-height: 100% !important;
    }
}

// Rateyo
// .jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group {
//     display: flex;
// }
// .jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group svg {
//     flex: 1;
//     margin-right: 2px;
// }
.jq-ry-normal-group svg {
  fill: #bbbbbb;
}
.jq-ry-rated-group svg {
  fill: #FFC200;
}

@include breakpoint (medium down) {
    .row {
        .no-padd {
            // margin-left: -0.625rem !important;
            // margin-right: -0.625rem !important;
            padding-left: 0;
            padding-right:0;
        }
    }
    .no-padd-elem {
        margin-left: -0.625rem !important;
        margin-right: -0.625rem !important;
    }
    .m-dblock {
        display: block;
    }
    .m-px-0 {
        padding-left: 0;
        padding-right: 0;
    }
    .m-px-1rem {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .m-tac {text-align: center;}
    .m-overflowx {
        overflow-x: auto;
    }
    .slick-lightbox-slick {
        .slick-dots {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .slick-lightbox-slick-item-inner {
        width: 100%;
        max-width: 100% !important;
        max-height: 100% !important;
    }
    .slick-lightbox-slick-img {
        width: 100%;
        max-width: 100% !important;
        max-height: 100% !important;
    }
}

// MARGIN
.mb5 {margin-bottom: 5px;}
.mb10 {margin-bottom: 10px;}
.mb1rem {margin-bottom: 1rem !important;}
.mb625rem {margin-bottom: .625rem;}
.mb15 {margin-bottom: 15px;}
.mb20 {margin-bottom: 20px;}
.mt10 {margin-top: 10px;}
.mt15 {margin-top: 15px;}
.mt20 {margin-top: 20px;}
.ml5 {margin-left: 5px;}
.mr5 {margin-right: 5px;}
.mr10 {margin-right: 10px;}
.mr15 {margin-right: 15px;}
.mr20 {margin-right: 20px;}
.mr625 {margin-right: .625rem;}
.ml10 {margin-left: 10px;}
.ml15 {margin-left: 15px;}
.ml20 {margin-left: 20px;}
.m0 {margin: 0 !important;}
.mt0 {margin-top: 0 !important;}
.mb0 {margin-bottom: 0 !important;}
.m-x0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

// PADDING
.py-625rem {padding-top: .625rem;padding-bottom: .625rem;}
.py-1rem {padding-top: 1rem;padding-bottom: 1rem;}
.px-13rem {padding-left: 1.3rem;padding-right: 1.3rem;}
.p1rem {padding: 1rem;}
.pt1rem {padding-top: 1rem;}
.pt625rem {padding-top: .625rem;}
.pb625rem {padding-bottom: .625rem;}
.pt10 {padding-top: 10px;}
.pt20 {padding-top: 20px;}
.pt5 {padding-top: 5px;}
.pb5 {padding-bottom: 5px;}
.pb10 {padding-bottom: 10px;}
.pb20 {padding-bottom: 20px;}
.pr5 {padding-right: .5rem}
.pr10 {padding-right: 10px;}
.pr20 {padding-right: 20px;}
.pl5 {padding-left: .5rem}
.pl10 {padding-left: 10px;}
.pl20 {padding-left: 20px;}
.inp10 {padding: 10px;}
.inp20 {padding: 20px;}
.p0 {padding: 0 !important;}
.pt0 {padding-top: 0 !important;}
.pr0 {padding-right: 0 !important;}
.pb0 {padding-bottom: 0 !important;}
.pl0 {padding-left: 0 !important;}
.px-0 {
    padding-left: 0;
    padding-right: 0;
}
.pl-0 {
    padding-left: 0;
}
.pr-0 {
    padding-right: 0;
}

@include breakpoint(large) {
    .l-mt10 {margin-top: 10px;}
    .l-mt15 {margin-top: 15px;}
    .l-mr15 {margin-right: 15px;}
    .l-ml15 {margin-left: 15px;}
    .l-mt20 {margin-top: 20px;}
    .l-pt10 {padding-top: 10px;}
    .l-pb10 {padding-bottom: 10px;}
    .l-pt20 {padding-top: 20px;}
    .l-pr1rem {padding-right: 1rem;}
    .l-pl1rem {padding-left: 1rem;}
    .slick-lightbox {
        background: rgba(0,0,0,.8) !important;
    }
    .l-pl-0 {
        padding-left: 0;
    }
    .l-pr-0 {
        padding-right: 0;
    }
    .l-white-bg {
        background-color: $white;
    }
}
@include breakpoint (medium down) {
    .m-pt10 {padding-top: 10px;}
    .m-mb10 {margin-bottom: 10px;}
    .m-mb15 {margin-bottom: 15px;}
    .m-mb1rem {margin-bottom: 1rem;}
    .m-mr10 {margin-right: 10px;}
    .m-ml10 {margin-left: 10px;}
    .m-block {display: block;}
    .m-p1rem {padding: 1rem;}
    .m-pt0 {padding-top: 0 !important;}
}

// BORDER
.bdl {border-left:$code-border;}
.bdr {border-right:$code-border;}

// BUTTON 
.button {
    border-radius: 4px;
    line-height: inherit;
    font-weight: 500;
    &.bordered-btn {
        color:$black;
        border: $code-border;
        background-color: transparent;
        &.white-btn {
            background-color: $white;
            border-color: $primary-color;
            color: $primary-color;
        }
        &.light-primary {
            background-color: #ffeeec;
            border-color: $primary-color;
            color: $primary-color;
        }
    }
    &.orange-btn {
        background: $orange;
    }
    &.small-btn {
        padding: .3em 1em;
    }
    &.btn-sameinput {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 39px;
        padding: 0 1em;
        margin-bottom: 0;
    }
}
.button.disabled, .button.disabled:focus, .button.disabled:hover, .button[disabled], .button[disabled]:focus, .button[disabled]:hover {
    color: #acacac;
    background-color: #e8e8e8;
    opacity: 1;
}

.preorder-callout {
    margin-bottom: 2rem;
    strong {
        text-transform: uppercase;
    }
}

//OFF-CANVAS
.js-off-canvas-exit {z-index: 10;}
.off-canvas {background:white;}
.off-canvas.position-left {
    max-height: none;
    overflow-y: visible;
}
.off-canvas-content {
    min-height: 100vh;
    background-color: $lighter-gray;
    &.white-bg {
        background-color: $white
    }
    &.m-white-bg {
        @include breakpoint(medium down) {
            background-color: $white;   
        }
    }
    &.overflow-hidden {
        overflow: hidden;
    }
}

// VARIABLES
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

// REVEAL FIX
.reveal.full {
    left: 0 !important;
    width: 100% !important;
    right: 0 !important;
    top: 0 !important;
    margin-top: 0 !important;
}

.transparent-modal {
    background: transparent !important;
    border: none !important;
    .mid-img {
        width: 310px;
        border: 1px solid #000000;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        @include breakpoint(large) {
            width: 400px;
        }
    }
    .black-btn {
        width: 310px;
        background-color: #000000;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        font-weight: bold;
        @include breakpoint(large) {
            width: 400px;
        }
        &:hover, &:active {
            background-color: #000000;
        }
    }
    .close-transparent {
        right: 1.5rem;
        top: 1rem;
        background-color: #000000;
        color: $white;
        padding: 3px 9px 0 9px;
        border-radius: 39px;
        font-weight: bold;
        @include breakpoint(large) {
            right: 5.8rem;
            top: 1.1rem;
            padding: 3px 9px 0 9px;
        }
    }
}

.visuallyhidden {
    position: absolute!important;
    overflow: hidden!important;
    display: block!important;
    width: 1px!important;
    height: 1px!important;
    margin: -1px!important;
    padding: 0!important;
    border: 0!important;
    clip: rect(0 0 0 0)!important;
}
.hidden-file {
    height: 0px;
    width: 0px;
    visibility: hidden;
}

.custom-radio {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: $font-size;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:last-child {margin-bottom: 0;}
    input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
        width: 0;
        height: 0;
        &:checked ~ .checkmark {
            background-color: white;
            border: 1px solid $primary-color;
            &:after {
                display: block;
            }
        }
    }
    .checkmark {
        position: absolute;
        top: 5px;
        left: 0;
        height: 18px;
        width: 18px;
        border: 1px solid $dark-gray;
        border-radius: 50%;
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 4px;
            top: 4px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: $primary-color;
        }
    }
    &.radio-small {
        font-size: $font-size-small;
        padding-top: 6px;
        .checkmark {
            top: 9px;
        }
    }
}

.border-dashed {
    padding: 11px 12px 9px 12px;
    border: 1px dashed $medium-gray;
    border-radius: 6px;
    table {
        border-collapse: inherit;
        border: none;
        margin-bottom: 0;
        font-size: $font-size-small;
        // thead tr td {
        //     border-bottom: 1px solid $lighter-gray;
        // }
        tr:nth-child(even) td {
            background: white;
            padding: 3px;
            // border-top: 1px solid $lighter-gray;
            // border-bottom: 1px solid $lighter-gray;
        }       
        tr:nth-child(odd) td {
            background: white;
            padding: 3px;
        }
    }
    &.border-top-bottom {
        padding: 13px 0 11px 0;
        border: 1px solid $light-gray;
        border-radius: 0;
        border-left: none;
        border-right: none;
        table {
            font-size: $font-size;
        }
    }
}

// SLICK SLIDER
// SLICK
.slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    z-index: 10;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: $white;
    padding: 0;
    margin-top: -10px\9;
    transform: translate(0, -50%);
    box-shadow: rgba(49, 53, 59, 0.12) 0px 1px 6px 0px;
    font-size: 0;
    cursor: pointer;
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .3s, visibility .3s;
    transition: opacity .3s, visibility .3s;

    // &.hidden {
    //  display: none;
    // }
    &:before {
        font-size: 32px;
        color: $medium-gray;
    }
    &:hover, &:focus {
        color: transparent;
    }
    &:hover {
        background-color: $white;
        &:before {
            color: $blue;
        }
    }
    &.slick-disabled {
        visibility: hidden;
        opacity: 0;
    }
}
.slick-prev {
    left: 0;
    // display: none;
    &:before {
        font-family: "Material Design Icons";
        content: "\F141";
        margin-left: -1px;
    }
    @include breakpoint(large) {
        left: -21px;
    }
}
.slick-next {
    right: 0;
    &:before {
        font-family: "Material Design Icons";
        content: "\F142";
        margin-right: -2px;
    }
    @include breakpoint(large) {
        right: -21px;
    }
}
.slick-dots {
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    height: 18px;
    padding: 0 4px;
    border-radius: 18px;
    li {
        display: inline-block;
        margin: 0 2px;
        button {
            width: 8px;
            height: 8px;
            border-radius: 8px;
            display: block;
            background-color: rgba(255, 255, 255, .5);
            text-indent: -9999em;
        }
        &.slick-active {
            button {
                background-color: $white;
            }
        }
    }
    @include breakpoint(medium down) {
        bottom: 5px;
        left: 5px;
        transform: translateX(0);
        height: 15px;
        border-radius: 15px;
        li {
            button {
                width: 6px;
                height: 6px;
                border-radius: 6px;
            }
        }
    }
}

// ICON
.sm-arrow-right {
    position: absolute;
    top: 50%;
    right: .4rem;
    transform: translateY(-50%);
    color: $medium-gray;
    i {
        font-size: 22px;
    }
}

.floated-link {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

