// 0. GLOBAL
// ---------

body {background:$light-gray;}
.off-canvas-wrapper {background:white;}

// 1. Header
// ---------

header {
	background:$primary-color;
	padding: 10px 0;
	a {color:white;}
	.ic-cart {margin-right: 15px;}
	.ic-hamburger,  .ic-cart {font-size: 1.5rem;}
	.ic-search {font-size: 1.3rem;}
	.hamburger {
		@include hamburger(white, $light-gray, 18px, 16px, 2px, 3);
		margin-right: 5px;
	}
}
.logo {
	width: 100px;height: 19px;background:url(../images/logo.png);display: block;
	background-size:  100px 19px;
	margin: 7px auto 0;
}
.main-banners {
	position: relative;
	.slick-arrow {position: absolute;height: 100%;width: 40px;z-index: 1;}
	.slick-prev {left: 0;}
	.slick-next {right: 0;}
}
.search-modal {
	padding-top: 40px;
	input {
		border: none;
		box-shadow: none;
		border-bottom: $code-border;
		padding-bottom: 20px;
		font-size: 1.2rem;
		&:focus {
			border: none;
			box-shadow: none;
			border-bottom: $code-border;
		}
	}
}
.suggestion-box {
	margin-top: 20px;
	ul li {
		border-bottom: $code-border;
		border-color: #F1F1F1;
		padding: 5px 0;
		a {
			padding: 5px 0;
			display: block;
			small {color:$dark-gray;}
		}
	}
}

// 2. Main Content
// ---------

.main-content {
	
}
.content-marketing {
	margin-bottom: 40px;
}
.cm-title {
	padding: 10px 15px;
	margin-bottom: 10px;
	border-top: $code-border;
	border-bottom: $code-border;
	font-weight: bold;
	a {font-weight: normal;}
}
.product-listing{
	.product-title {
		font-weight: bold;
		font-size:$font-size-small;
		color: $black;
	}
	.product-price {
		span {color: $primary-color;}
		span.striked {font-size: $font-size-smaller;color: $dark-gray;text-decoration:line-through;}
	}
	.item {margin: 0 2px;}
}
.product-listing-grid {
	.product-title {
		padding-right: 10px;
		height: 45px;
		overflow: hidden;
		margin-top: 5px;
	}
	.product-price {
		span {display: block;}
	}
	.item {
		display: inline-block;
		width: 48%;
		margin-bottom: 10px;
	}
}
// listing
.top-filter-sort {
	background:$lighter-gray;
	padding: 5px 0;
	margin-bottom: 20px;
	border-bottom: 1px solid #DADADA;
	a {
		display: block;color: $black;background:white;border-radius: 4px;
		border:1px solid #DADADA;height: 39px;line-height: 36px;
	}
	.inner {padding:2px;}
	select {margin-bottom: 0;border:1px solid #DADADA}
	.third {position: relative;}
	.check-sticker {position: absolute;top: -1px;right: -1px;z-index: 10;}
}

// Push Category
.cat-list-home {
	ul {
		li {
			a {display: block;padding: 10px 15px;color: $black;font-size:$font-size-small;}
		}
	}
}
.cat-list {
	ul {
		li {
			a {color: $black;}
			a.has-child:after {position: absolute;right: 10px;top:50%;margin-top:-6px;color:$dark-gray}
			a.back {padding-left: 30px;color:$primary-color;}
			a.back:before {left:10px;}
			&.top-list {background:$light-gray;}
			&.blocked-li {padding: 10px 15px;border-bottom: $code-border;}
		}
	}
}
.bordered-list {
	li {
		a {display: block;padding: 10px 15px;color: $black;border-bottom: $code-border;position: relative;}
	}
}
.breadcrumbs-nav {
	padding: 10px 0;
	background:$lighter-gray;
}
a.back {padding-left: 20px;position: relative;}
a.back:before {position: absolute;top:50%;margin-top: -7px;left:0px;}

.check-sticker {
	background:$primary-color;
	width: 16px;height: 16px;
	border-radius: 16px;
	text-align: center;
	.icon {color:white;display: inline-block;vertical-align: middle;font-size: 12px;margin-top: -8px;}
}

// 3. FOOTER
// ---------

footer {
	margin-top: 40px;
}
.footer-top {
	padding: 20px 0;
	background:$light-gray;
}
.footer-bottom {
	padding: 20px 0;
	background:$primary-color;
	color:white;
	a {color: white;}
	.link-group {
		text-align: center;
		a {margin: 0 10px;}
	}
	.social-link {
		margin: 20px 0;
	}
}
.copyright {
	padding: 10px;
	background-color:darken($primary-color, 10%);
	color:white;
}

// 4. SIDE MENU
// ---------

.off-canvas.position-right {
	right:-86%;
    width:86%;
}
.is-open-right {
    transform: translateX(-86%);
}
.side-canvas-menu {
	.icon, .menu-list-title, .ava{
		display: inline-block;
		vertical-align: middle;
	}
	a {color: $black;}
	.top-user {
		a {display: block;}
		span {float: left;}
		padding: 10px;
	}
	.ava {
		margin-right: 10px;
		img {width: 50px;height: 50px;border-radius: 50px;}
	}
	.side-menu-list {
		padding-top: 10px;
		border-top: $code-border;
		margin-bottom: 20px;
		a {display: block;margin: 10px 0;}
		span {display: block;}
		.menu-item {font-size: 1rem;}
		
		.icon {
			height:40px;width: 40px;border-radius: 40px;
			color:white;background:$primary-color;
			font-size: 1.6rem;
			line-height: 48px;
			font-weight: normal;
			text-align: center;
			margin-right: 10px;
		}
		.under {color:$dark-gray;font-size: 0.8rem;}
		.with-info {}
	}
}
.side-link-main {
	text-align: center;
	padding: 10px 0;
	border-top: $code-border;
	border-bottom: $code-border;
	a {color:$primary-color;}
}

.off-canvas-filter-cat-content {
	padding-top: 20px;
	position: relative;
	.submit-group {
		margin-top:10px;	
		button, a {margin-bottom:10px;}
	}
	.disabled {opacity: .5;}
}

// Push Filter
.push-filter {
	a, span {font-size: $font-size-small;}
	.back {font-size: 1rem;}
	.label-area {width: 35%;font-size: $font-size-small;}
	.button-area {width: 65%;text-align: right;color: $dark-gray;}
	.label-input-area {width: 40%;font-size: $font-size-small;}
	.input-area {
		text-align: right;
		width: 60%;font-size: $font-size-small;
		input {display: inline-block;width: 80%;margin-bottom: 0;}
		span {margin-right: 5px;}
	}
	.fblock {float: left;width: 100%;padding: 10px 0;border-bottom: $code-border;}
	.filter-action {
		position: relative;
		.filter-header {position: absolute;top:-60px;left: 0;}
		.push-opt {
			.ic-checkmark {display: none;}
			&.selected {
				.ic-checkmark {display: inline;}
				a {color:$blue;}
			}
		}
	}
}
.canvas-gray-header {
	height: 55px;
	background:$lighter-gray;
	border-bottom:1px solid $light-gray;
}
.close-button {z-index: 10;}
.with-right-arrow {position: relative;padding-right: 20px;}
.with-right-arrow:after {font-size: 0.9rem;vertical-align: middle;position: absolute;right: 0px;top: 50%;margin-top: -6px;}
