
// 1. Header
// ---------

header {
	background:$primary-color;
	padding: 10px 0;
	a {color:white;}
	.ic-cart {margin-right: 15px;}
	.ic-hamburger,  .ic-cart {font-size: 1.5rem;}
	.ic-search {font-size: 1.3rem;}
}
.logo {
	width: 100px;height: 19px;background:url(../images/logo.png);display: block;
	background-size:  100px 19px;
	margin: 7px auto 0;
}
.main-banners {
	position: relative;
	.slick-arrow {position: absolute;height: 100%;width: 40px;z-index: 1;}
	.slick-prev {left: 0;}
	.slick-next {right: 0;}
}
.search-modal {
	input {
		padding-top: 40px;
		border: none;
		box-shadow: none;
		border-bottom: $code-border;
		padding-bottom: 20px;
		font-size: 1.2rem;
		&:focus {
			border: none;
			box-shadow: none;
			border-bottom: $code-border;
		}
	}
}
.suggestion-box {
	margin-top: 20px;
	ul li {
		border-bottom: $code-border;
		border-color: #F1F1F1;
		padding: 5px 0;
		a {
			padding: 5px 0;
			display: block;
			small {color:$dark-gray;}
		}
	}
}

// 2. Main Content
// ---------

.main-content {
	
}
.content-marketing {
	margin-bottom: 40px;
}
.cm-title {
	padding: 10px 15px;
	margin-bottom: 10px;
	border-top: $code-border;
	border-bottom: $code-border;
	font-weight: bold;
	a {font-weight: normal;}
}
.product-listing{
	.product-title {
		font-weight: bold;
		font-size:$font-size-small;
		color: $black;
	}
	.product-price {
		span {color: $primary-color;}
		span.striked {font-size: $font-size-smaller;color: $dark-gray;text-decoration:line-through;}
	}
}
.product-listing-grid {
	.product-title {
		padding-right: 10px;
		height: 45px;
		overflow: hidden;
		margin-top: 5px;
	}
	.product-price {
		span {display: block;}
	}
}

.cat-list-home {
	ul {
		li {
			a {display: block;padding: 10px 15px;color: $black;font-size:$font-size-small;}
		}
	}
}

// 3. FOOTER
// ---------

footer {}
.footer-top {
	padding: 20px 0;
	background:$light-gray;
}
.footer-bottom {
	padding: 20px 0;
	background:$primary-color;
	color:white;
	a {color: white;}
	.link-group {
		text-align: center;
		a {margin: 0 10px;}
	}
	.social-link {
		margin: 20px 0;
	}
}
.copyright {
	padding: 10px;
	background-color:darken($primary-color, 10%);
	color:white;
}