* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.25	;
}
body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  width: 100% !important;
  height: 100%;
  color: #574751;
  margin: 0;
}
img {
  max-width: 100%;
  margin: 5px 0;
}
a {
	word-wrap: break-word;
	color: #f23b51;
	text-decoration: underline;
	font-weight: bold;
}
.button {
	display: inline-block;
	background: #f23b51;
	color: white;
	text-decoration: none;
	padding: 14px 25px;
	border-radius: 4px;
	margin: .7em 0;
	-webkit-box-shadow: 0 5px 10px -3px #f23b51;
    -moz-box-shadow: 0 5px 10px -3px #f23b51;
    box-shadow: 0 5px 10px -3px #f23b51;
}
h1 {
	margin: 0;
	padding: 0 18px;
	display: block;
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	line-height: 125%;
	letter-spacing: normal;
}
p {
	margin: 1em 0;
	padding: 0 18px;
	font-size: 16px;
	line-height: 150%;
}
ul {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}
ol {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}
li {
	line-height: 150%;
}
label {
	color: #979197;
	display: block;
}