@charset 'utf-8';

@import 'settings.scss';
@import '../bower_components/foundation-6/scss/foundation.scss';
@import '../bower_components/motion-ui/motion-ui.scss';

@include foundation-global-styles;
// @include foundation-grid;
// @include foundation-flex-grid;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
// @include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
// @include foundation-off-canvas;
// @include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
// @include foundation-table;
@include foundation-tabs;
// @include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;

@include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

@import 'slick';
@import 'fonts';
@import 'icons';
@import 'customized';

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700');

$body-bg: #fff;
$deep-shadow: 0 15px 35px 0 rgba(123, 69, 69, 0.24), 0 60px 120px 0 rgba(123, 69, 69, 0.24), 0 0 0 1px rgba(178, 49, 49, 0.08), inset 0 -3px 3px 3px rgba(178, 49, 49, 0.06);
$mid-shadow: 0 12px 22px rgba(178, 49, 49, .08), 0 6px 11px rgba(178, 49, 49, .04);
$mid-shadow-hover: 0 14px 24px rgba(178, 49, 49, .1), 0 8px 13px rgba(178, 49, 49, .06);
$light-orange-bg:#fff8f3;

.grad-orange-red {
	background: -moz-linear-gradient(-45deg, #f26725 0%, #cc0003 100%);
	background: -webkit-linear-gradient(-45deg, #f26725 0%,#cc0003 100%);
	background: linear-gradient(135deg, #f26725 0%,#cc0003 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f26725', endColorstr='#cc0003',GradientType=1 );
}
.grad-orange-red-text {
	@extend .grad-orange-red;
	display: inline-block;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.grad-purple-pink {
    background: -webkit-linear-gradient(left, #6758c5, #e072c3);
    background: linear-gradient(to right, #6758c5, #e072c3);
}
.grad-purple-pink-text {
	@extend .grad-purple-pink;
	display: inline-block;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.light-orange-bg {
	background:$light-orange-bg;
}
.white-bg {
	background:white;
}
.large-tar {
	@include breakpoint(large) {text-align: right;}
}

body {
	background: $body-bg;
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
    width: 100%;
    overflow-x: hidden;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family: 'Lato', sans-serif;
}
.off-canvas-wrapper {
	background:transparent;
}
.off-canvas-content {
	background: transparent;
	.main-content {
		padding-top: 20px;
		&.pt0 {
			padding-top: 0;
		}
		@include breakpoint(large) {
			padding-top: 95px;
			padding-bottom: 60px;
		}
	}
}

a {
	color:$orange;
	&:hover{
		color:darken($orange,20%);
	}
	&.link {
		text-decoration: underline;
	}
}

.white-header {
	
	.btn-menu {
		color:white;
	}
	.navbar-sticky {
		
	}
	.top-menu {
		ul {
			li {
				a {color: $white;}
			}
		}
	}
}
.white-text {
	color:$white;
}

.button {
	// box-shadow: 0 4px 8px rgba(63, 49, 178, .1), 0 2px 6px rgba(63, 49, 178, .04);
	background-color: $blue-paytren;
	&:hover, &:focus {
    	box-shadow: 0 5px 9px rgba(63, 49, 178, .1), 0 4px 8px rgba(63, 49, 178, .06);
    	-webkit-transition: all .5s cubic-bezier(.35, 0, .25, 1);
    	transition: all .5s cubic-bezier(.35, 0, .25, 1);
    	background-color:darken($blue-paytren,6)
	}
	&.orange-btn {
		background:$orange;
	}
}
.button.disabled, .button.disabled:focus, .button.disabled:hover, .button[disabled], .button[disabled]:focus, .button[disabled]:hover {
    background-color: $blue-paytren;
    color: #fff;
}

.button.disabled, .button[disabled] {
    opacity: 0.25;
    cursor: not-allowed;
}

header {
	height: 58px;
	position: relative;
	background:transparent;
	background:white;
	@include breakpoint(large) {
		height: 70px;
	}
	border-bottom: $code-border-light;
	.btn-menu {
		float: right;
		color: $black;
		font-size: $font-size-smaller;
		font-weight: 700;
		letter-spacing: .6px;
		border: $code-border-light;
		padding: 4px 10px 1px 10px;
		margin-top: 11px;
		border-radius: 4px;
		.icon {
			display: inline-block;
			vertical-align: middle;
			font-size: $font-size-small;
			margin-right: 4px;
			margin-top: 4px;
			margin-bottom: 4px;
		}
	}
	@include breakpoint(medium down) {
		padding: 0;
	}
}

.header-container {
	position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: all .5s cubic-bezier(.35, 0, .25, 1);
    transition: all .5s cubic-bezier(.35, 0, .25, 1);
    background:transparent;
	height: 58px;
	color:white;
	@include breakpoint(large) {
		height: 70px;
	}
    .header-block {
    	background:transparent;
    	-webkit-transition: all .5s cubic-bezier(.35, 0, .25, 1);
		    	transition: all .5s cubic-bezier(.35, 0, .25, 1);
		@include breakpoint(large) {
			height: 70px;
		}
    }
    &.navbar-hidden {
    	top: -100px;
	    -webkit-transition: all .5s cubic-bezier(.35, 0, .25, 1);
	    transition: all .5s cubic-bezier(.35, 0, .25, 1);
    }
    &.navbar-sticky {
    	position: fixed;
	    top: 0;
	    right: 0;
	    left: 0;
	    width: 100%;
	    -webkit-transition: all .5s cubic-bezier(.35, 0, .25, 1);
	    transition: all .5s cubic-bezier(.35, 0, .25, 1);
	    opacity: 1;
	    width: 100%;
		@include box-shadow(0px,0px,10px,rgba(0,0,0,.1));
		.btn-menu {
			margin-top: 11px;
			color: $black;
		}
	    .header-block {
	    	background:white;
	    	height: 100%;
	    	-webkit-transition: all .5s cubic-bezier(.35, 0, .25, 1);
	    	transition: all .5s cubic-bezier(.35, 0, .25, 1);
	    }
	    .top-menu {
	    	margin-top: 3px;
	    	a {
	    		color:$black;
	    		-webkit-transition: all .5s cubic-bezier(.35, 0, .25, 1);
	    		transition: all .5s cubic-bezier(.35, 0, .25, 1);
	    		&:hover {
	    			color: $orange;
	    		}
	    	}
	    	.is-active {
	    		a {
	    			color:$orange;
	    		}
	    	}
	    }
		.par-logo {
			width: 35%;
			display: inline-block;
			margin-top: 15px;
			img {max-height: 35px;}
			&.small-logo {
				margin-left: 5px;
				margin-top: 12px;
				img {
					max-height: 40px;
				}
			}
		}
    }
}

.par-logo {
	width: 35%;
	display: inline-block;
	margin-top: 15px;
	img {max-height: 35px;}
	&.small-logo {
		margin-left: 5px;
		margin-top: 13px;
		img {
			max-height: 40px;
		}
	}
}

.top-menu {
	margin-top: 4px;
	display: inline-block;
	vertical-align: middle;
	text-align: right;
	width: 60%;
	ul {
		margin-bottom: 0;
		li {
			display: inline-block;
			a {
				color:$black;
				position: relative;
				padding: 10px;
				font-weight: 400;
				font-size: $font-size-small;
				text-transform: uppercase;
				-webkit-transition: all .5s cubic-bezier(.35, 0, .25, 1);
		    	transition: all .5s cubic-bezier(.35, 0, .25, 1);
				&:hover {
					color: $orange;
				}
			}
			&.is-active {
	    		a {
	    			color:$orange;
	    			&:after {
	    				content:"";
	    				width: 100%;
	    				height: 2px;
	    				display: block;
	    				background:$orange;
	    				position: absolute;
	    				bottom:-10px;
	    			}
	    		}
	    	}
		}
	}
}

.side-canvas-menu {
	.side-menu-header {
		background: white;
		color: $dark-gray;
		position: relative;
		.ic-close {
			position: absolute;
			right: 13px;
			top: 13px;
			font-size: $font-size-big;
		}
	}
	.side-menu-list {
		padding-top: 10px;
		border-top: none;
		margin-bottom: 20px;
		a {
			display: block;margin: 10px 0;
			padding-bottom: 10px;
			border-bottom: $code-border-light;
		}
		span {display: block;}
		.menu-item {font-size: 1rem;}
		.icon {
			height:30px;
			width: 30px;
			border-radius: 40px;
			color: $orange;
			background: white;
			font-size: 1.3rem;
			font-weight: normal;
			text-align: center;
			margin-right: 10px;
			position: relative;
			&:before {
				font-size: .9em;
				display: inline-block;
				vertical-align: top;
				margin-top: 7px;
			}
		}
	}
}

// SEARCH
.new-filter-cat {
    &.container-for-desktop {
    	padding-right: 35px;
	    background: #fefefe;
	    float: left;
	    width: 90%;
    }
    .list-title {
	    height: 30px;
	    line-height: 30px;
	    font-weight: bold;
	    margin: 5px 0;
	    &.accordion-title {
	    	height: auto;
	    	line-height: 1.5;
	    	border: none;
	    	border-bottom: $code-border;
	    	margin: 0 0 10px 0;
	    	padding: 10px 0;
	    	&:hover,&:focus {background-color: transparent;color:$black;}
	    }
	}
	.accordion-content {
		border: none;
		padding: 0;
		color:$black;
		border-bottom: none !important;
	}
    a {
    	display: block;
	    position: relative;
	    color: #414143;
	    font-size: .9rem;
	    &:hover {color:$primary-color}
	}
	.side-filter {
		.style-checkbox {
			max-height: 135px;
			overflow-x:auto;
		}
	}
	section {
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: $code-border-light;
		&:last-child {
			&:not(:first-child){
				border-bottom: none;
			}
		}
	}
}
.container-for-mobile {
	position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 100px;
    z-index: 200;
	opacity: 1;
	z-index: 1050;
    visibility: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    padding: 55px 15px 40px 15px;
    background: white;
    height: 100vh;
    overflow: auto;
    -webkit-transition: visibility 0s, opacity .15s linear;
    -o-transition: visibility 0s, opacity .15s linear;
    transition: visibility 0s, opacity .15s linear;

	-webkit-transition: bottom .3s;
    -o-transition: bottom .3s;
    transition: bottom .3s;

	.filter-mobile-inner {
	 	padding-bottom: 60px;
	 }
    .close-button {font-size: 20px;top: 1rem}
    .action-block {
    	position: fixed;
    	bottom: 0;
    	left: 0;
    	right: 0;
    	background-color: white;
    	padding: 13px 8px;
    	border-top: $code-border-light;
    	z-index: 1200;
    	.half {padding: 0 5px;}
    	.button {
    		margin-bottom: 0;
    		font-weight: bold;
    		box-shadow: none;
    	}
    }
    &.open {
    	opacity: 1;
    	bottom: 0;
    }
}
.new-filter-cat {
    &.container-for-desktop {
    	padding-right: 35px;
	    background: #fefefe;
	    float: left;
	    width: 90%;
    }
    .list-title {
	    height: 30px;
	    line-height: 30px;
	    font-weight: bold;
	    margin: 5px 0;
	    &.accordion-title {
	    	height: auto;
	    	line-height: 1.5;
	    	border: none;
	    	border-bottom: $code-border;
	    	margin: 0 0 10px 0;
	    	padding: 10px 0;
	    	&:hover,&:focus {background-color: transparent;color:$black;}
	    }
	}
	.accordion-content {
		border: none;
		padding: 0;
		color:$black;
		border-bottom: none !important;
	}
    a {
    	display: block;
	    position: relative;
	    color: #414143;
	    font-size: .9rem;
	    &:hover {color:$primary-color}
	}
	.side-filter {
		.style-checkbox {
			max-height: 135px;
			overflow-x:auto;
		}
	}
	section {
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: $code-border-light;
		&:last-child {
			&:not(:first-child){
				border-bottom: none;
			}
		}
	}
}
.selected-filter {
	margin: 0;
	li {
		position: relative;
		margin:20px 0 0 0;
		display: inline-block;
		border:$code-border;
		padding: 5px 30px 5px 10px;
		border-radius: 10px;
		font-size: $font-size-small;
		&:after {
			content: "x";
			position: absolute;
			width: 20px;
			height: 20px;
			line-height: 20px;
			margin-top: -10px;
			right: 5px;
			top: 50%;
			text-align: center;
			font-size: $font-size-big;
			font-weight: bold;
		}	
	}
}


// SIDE MENU
// ---------

.bq-slide-menu {
	position: fixed;
	width: 290px;
	top: 0;
	bottom: 0;
	z-index: 1000;
	background:$white;
	visibility: hidden;
	opacity: 0;
	overflow-y: auto;
	&.is-open {
		opacity: 1;
		visibility: visible;
	}
	&.bq-slide-menu-left {
		left:-290px;
		transition: left 200ms;
	    -ms-transition: left 200ms;
	    -moz-transition: left 200ms;
	    -webkit-transition: left 200ms;
		&.is-open {
			left: 0;
			transition: left 300ms;
		    -ms-transition: left 300ms;
		    -moz-transition: left 300ms;
		    -webkit-transition: left 300ms;
		}
	}
	&.bq-slide-menu-right {
		right: -80%;
		transition: right 200ms;
	    -ms-transition: right 200ms;
	    -moz-transition: right 200ms;
	    -webkit-transition: right 200ms;
		&.is-open {
			right: 0;
			transition: right 200ms;
		    -ms-transition: right 200ms;
		    -moz-transition: right 200ms;
		    -webkit-transition: right 200ms;
		}
	}
}

.side-canvas-menu {
	.side-menu-header {
		// background:$primary-color;
		// color:$white;
		position: relative;
		padding: 11px 15px;
		height: 60px;
		.ic-close {position: absolute;right: 10px;top: 15px;	}
	}
	// .side-menu-artwork {
	// 	width: 100%;
	// 	height: 90px;
	// 	background:transparent url('../images/side-menu-art.jpg');
	// 	background-position: center center;
	// }
	.icon, .menu-list-title, .ava{
		display: inline-block;
		vertical-align: middle;
	}
	a {color: $black;}
	.top-user {
		a {display: block;}
		span {float: left;}
		padding: 10px;
	}
	.side-menu-list {
		padding-top: 10px;
		// border-top: $code-border;
		margin-bottom: 20px;
		a {display: block;margin: 10px 0;}
		span {display: block;}
		.menu-item {font-size: 1rem;}
		.icon {
			height:40px;width: 40px;border-radius: 40px;
			color:white;background:$primary-color;
			font-size: 1.6rem;
			line-height: 48px;
			font-weight: normal;
			text-align: center;
			margin-right: 10px;
			position: relative;
			&:before {
				font-size: .9em;
				display:inline-block;
				vertical-align: top;
				margin-top: 9px;
			}
			&.l-paytren {
				background-image: url(../images/paytren.png);
				background-size: 40px 40px;
				background-repeat: no-repeat;
			}
		}
		.under {color:$dark-gray;font-size: 0.8rem;}
		.with-info {}
	}
}
.side-link-main {
	text-align: center;
	padding: 10px 0;
	border-top: $code-border;
	.icon:before {
		font-size: 24px;margin-bottom: -10px;
		margin: 5px 5px 0 0;
		display: inline-block;
	}
	a {color:$primary-color;}
}
.menu-overlay {
	background:rgba(0,0,0,.6);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	&.hidden {display: none;}
}

section {
	margin-top: 25px;
	@include breakpoint(medium down) {
		margin-top: 0;
	}
	.block-header {
		padding-bottom: 20px;
		margin-bottom: 40px;
		&.with-border-bottom {
			position: relative;
			&:before {
				content: "";
				width: 100px;
				height: 2px;
				display: inline-block;
				position: absolute;
				bottom: 0;
				left: 50%;
				margin-left: -50px;		
				@extend .grad-orange-red;
			}
		}
		&.left-align-block {
			.block-title {

			}
			@include breakpoint(large) {
				padding-bottom: 30px;
				padding-left: 30px;
				padding-top: 30px;
				&:before {
					display: none;
				}
				.heading-tag {
					text-align: left;
					margin-bottom: 0;
				}
				.block-title {
					text-align: left;
					font-size: 1.5rem;
					margin-bottom: 10px;
					&.large-tar {
						text-align: right;
					}
				}
				.sub-title {
					text-align: left;
				}
			}
		}
		.heading-tag {
			text-transform: uppercase;
		    color: $orange;
		    font-weight: 700;
		    margin-bottom: 10px;
		    text-align: center;
		}
	}
	.block-title {
		text-align: center;
		font-weight: 400;
	}
	.sub-title {
		text-align: center;
		font-size: 1rem;
		@include breakpoint(large) {
			font-size: 1.2rem;
		}
	}
}

h1 {
	font-size: 1.3rem;
    line-height: 2.2rem;
    @include breakpoint(medium) {
		font-size: 1.6rem;
		line-height: 2.2rem;
		margin-bottom: 10px;
	}
}


.block-title {
	font-size: 1.6rem;
    line-height: 2rem;
    @include breakpoint(medium) {
		font-size: 1.8rem;
		line-height: 2.2rem;
		margin-bottom: 10px;
	}
}

// SECTION:: HERO
.main-hero {
	position: relative;
    // padding-bottom: 80px;
    margin: 0;
    @include breakpoint(large) {
    	padding-top: 0;
    	// padding-bottom: 120px;
    }
	.hero-inner {
		text-align: center;
		padding-top: 0px;
		padding-left: 10px;
		padding-right: 10px;
		position: relative;
		z-index: 100;
		@include breakpoint(large) {
			padding-top: 60px;
			padding-left: 0;
			padding-right: 0;
		}
		&.left-align {
			text-align: left;
			.heading-holder {
				text-align: left;
			}
			p {
				margin: 0 0 10px 0;
			}
		}
	}
	.landing-slider {
		img {
			width: 100%;
		}
		.slick-next {
			@include breakpoint(large) {
				right: 50px;
			}
		}
		.slick-prev {
			@include breakpoint(large) {
				left: 50px;
			}
		}
		.slick-prev, .slick-next{
			&:before {
				color: white;
				text-shadow: 0 4px 10px rgba(0,0,0,0.4);
			}
		}
		&:hover {
			.slick-arrow {
				&:before {
					opacity: 1;
					color: white;
				}
			}
		}
		.slick-dots {
			margin-top: -80px;
			@include breakpoint(medium down) {
				margin-top: -27px;
			}
		}
	}
	.heading-holder {
		position: absolute;
		bottom: -60px;
	    width: 100%;
	    white-space: normal;
    	padding: 0 10rem;
    	@include breakpoint(medium down) {
    		padding: 0 1rem;
    		display: none;
    	}
    	.heading-tag {
    		text-transform: uppercase;
    		color:orange;
    		font-weight: 700;
    		margin-bottom: 10px;
    		// padding: 0 40px;
    	}
    	h1 {
    		text-shadow: 1px 1px 1px rgba(0,0,0,.05);
    		// padding: 0 40px;
    	}
    	p {
    		// padding: 0 40px;
    		font-size: 1rem;
    		max-width: 600px;
    		margin: 0 auto 10px;
    		text-shadow: 1px 1px 1px rgba(0,0,0,.05);
    		@include breakpoint(medium) {
    			font-size: 1.1rem;
    		}
    	}
    	.fblock {
    		margin-top: 20px;
    		.button {
    			font-size: 1.1rem;
    		}
    	}
	}
	&.hero-pcp {
		
		@include breakpoint(large) {
			
		}
		.hero-inner {
			padding-top: 0;

		}
	}
	&.home-hero {
		h1 {
			font-size: 2rem;
		    line-height: 2.4rem;
		    @include breakpoint(medium) {
				font-size: 2.4rem;
				line-height: 3rem;
				margin-bottom: 10px;
			}
		}
		&:before {
			opacity: .030;
			background: url(../p-tren/images/paket-03.jpg);
		}
	}
	&.orange-hero {
		&:after {
		    background: url(../images/noise-hero.png), -webkit-linear-gradient(left, #f26725, #de2e17);
		    background: url(../images/noise-hero.png), linear-gradient(to right, #f26725, #de2e17);
		}
	}
	&.light-orange {
		background:white;
		&:before {
			background:$light-orange-bg;
		}
		&:after {
			background: url(../images/noise-hero.png), -webkit-linear-gradient(left, #f26725, #de2e17);
		    background: url(../images/noise-hero.png), linear-gradient(to right, #f26725, #de2e17);
		}
	}
	.hero-image {
		margin-bottom: -120px;
    	margin-top: 10px;
		@include breakpoint(large) {
			position: absolute;
			// left: 55%;
			// top: 5%;
			margin-top: 0;
			margin-bottom: 0;
			left:0;
			right: 0;
			.image-wrapper {
				max-height: 1000000px;
				max-width: 1300px;
				width: 100%;
				margin-top: 0;
				background-color: $orange;
			}
			img {
				visibility: visible;
			    -webkit-transform: translateY(0) scale(1);
			    opacity: 1;
			    transform: translateY(0) scale(1);
			    opacity: 1;
			    -webkit-transition: -webkit-transform 0.9s cubic-bezier(.55,0,.1,1) 0.2s, opacity 0.9s cubic-bezier(.55,0,.1,1) 0.2s;
			    transition: transform 0.9s cubic-bezier(.55,0,.1,1) 0.2s, opacity 0.9s cubic-bezier(.55,0,.1,1) 0.2s;
			}
		}
		
	}
}
.backtoblq {
	position: relative;
	display: block;
	padding: 1rem 1rem 1rem 3.2rem;
	font-weight: bold;
	color: $black;
	svg {
		position: absolute;
		left: 1rem;
		top: 20px;
		width: 16px;
		height: 16px;
	}
	&:hover {
		color: $black;
	}
	@include breakpoint(large) {
		padding: 1.7rem 1rem 1.7rem 3.2rem;
		svg {
			top: 31px;
		}
	}
	&.large-back {
		padding: 1.5rem 1rem 1.5rem 3.2rem;
		svg {
			top: 28px;
		}
	}
}
.store-tabs {
	text-align: center;
	padding: .5rem 1rem 1.1rem 1rem;
	a {
		width: 100%;
		display: block;
		padding: 8px;
		border: 1px solid $dark-gray;
		border-radius: 50px;
		font-weight: normal;
		color: $dark-gray;
		&.active {
			border: 1px solid $blue-paytren;
			color: $blue-paytren;
			font-weight: bold;
		}
	}
	@include breakpoint(large) {
		margin-top: .6rem;
		padding: .5rem 3rem 1.1rem 3rem;
	}
}
.search-box {
	margin-top: 0;
	@include breakpoint(large) {
		margin-top: 348px;
	}
	.fblock {
		margin-bottom: 10px;
		margin-top: 0 !important;
		input, select {
			margin-bottom: 0;
		}
	}
	h1,p{
		@include breakpoint(large) {
			padding: 0 15px
		}
	}
	.box-header-text {
		margin-bottom: 20px;
	}
	.input-group {
		position: relative;
		.ic-search {
			position: absolute;
			left: 10px;
			top:50%;
			margin-top: -10px;
			z-index: 2;
			color: $dark-gray;
		}
		input {
			padding-left: 35px;
			border-radius: 4px;
		}
	}
	.loc-suggestion {
		li {
			display: inline-block;
			margin-right: 5px;
			margin-bottom: 5px;
			a {
				display: block;
				font-size: $font-size-small;
				color:$medium-gray;
				padding: 3px 8px;
				border:1px solid $medium-gray;
				border-radius: 4px;
				&:hover {
					color:$orange;
					border-color: $orange;
				}
			}
		}
	}
	.btn-search {
		padding-top: 24px;
	}
}
.price-range {
	.slider-input {
		input {width: 45%;float: left;border-radius: 4px;}
		span {width: 10%;float: left;text-align: center;display: block;line-height: 40px;}
	}
}
.search-block {
	button {
		margin: 0;
	}
	.input-group {
		position: relative;
		margin-bottom: 0;
		input {
			padding-left: 35px;
		}
	}
	.ic-search {
		position: absolute;
		left: 10px;
		top: 50%;
		margin-top: -10px;
		z-index: 2;
	}
	@include breakpoint(large) {
		label {
			float: left;
			margin-right: 20px;
		}
		.input-wrap {
			overflow: hidden;
		}
	}
}
.suggestion-list {
	color:$black;
	display: block;
	padding: 4px 13px;
	font-size: $font-size-small;
	&:hover {
		color:$black;
		background:$lighter-gray;
	}
}
.tt-menu {
	background: $white;
	width: 100%;
	border: 1px solid $dark-gray;
	border-top: none;
	padding: 6px 0;
	margin-top: -3px;
	border-bottom-left-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
}
.twitter-typeahead {
	display: block !important;
}
.search-link {
	position: relative;
	margin-top: -4px;
	margin-bottom: 1rem;
	padding: 0 13px;
	.ic-search {
		position: absolute;
		top: 10px;
		left: 25px;
		color: darken($medium-gray, 10);
	}
	a {
		display: block;
		background-color: $white;
		padding: 9px 8px 9px 40px;
		border: $code-border;
		border-radius: 4px;
		color: $dark-gray;
		font-weight: normal;
	}
	&.search-large {
		padding: 0;
		.ic-search {
			top: 11px;
			left: 13px;
		}
		a {
			padding: 9px 8px 9px 40px;
		}
	}
}
.top-desc {
	text-align: center;
	padding-bottom: 1rem;
	@include breakpoint(medium down) {
		padding-bottom: .3rem;
		padding-left: 1rem;
		padding-right: 1rem;
		p {
			text-align: justify;
		}
	}
}

.buy-step {
	iframe {
		margin: 20px 0;
		@include breakpoint(medium down) {
			margin: 5px 0 20px 0;
		}
		border: 1px solid black;
	}
}

.title-section {
	font-weight: bold;
	font-size: 1.2rem;
	margin: 20px 15px 20px 15px;
	padding-bottom: 11px;
	border-bottom: 1px dashed $medium-gray;
	a {
		float: right;
		font-weight: normal;
		font-size: $font-size;
		color: $blue-paytren;
		&:after {
			vertical-align: middle;
			font-size: .8rem;
		}
	}
	@include breakpoint(large) {
		text-align: center;
		font-size: 1.7rem;
		margin: 0 45px 35px 45px;
		padding-bottom: 18px;
		a {
			float: none;
			display: block;
			font-size: $font-size-big;
		}
	}
}

.product-listing-grid {
	.item {
		position: relative;
		display: inline-block;
		width: 24%;
		margin-right: 0.8%;
		margin-left: 0;
		background: white;
		padding-bottom: 10px;
		border-radius: 8px;
		border: 1px solid $lighter-gray;
		margin-bottom: 30px;
		-webkit-transition: all .4s ease-in-out;
    	transition: all .4s ease-in-out;
		&:nth-child(4n+4){margin-right: 0;}
    	&:hover {
    		-webkit-box-shadow: 0px 2px 15px -2px rgba(204,204,204,1);
			-moz-box-shadow: 0px 2px 15px -2px rgba(204,204,204,1);
			box-shadow: 0px 2px 15px -2px rgba(204,204,204,1);
    	}
		.img-box {
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			overflow: hidden;
		}
		.desc-box {
			padding: 20px;
			p {margin-bottom: 0;color:$black}
		}
		.product-title {
			color: $black;
			font-size: $font-size;
			font-weight: bold;
			height: 48px;
			overflow: hidden;
		}
		.product-price {
			margin-top: 10px;
			height: 52px;
			.striked {
				text-decoration: line-through;
				font-weight: lighter;
				color: $black;
				font-size: $font-size-small;
			}
			.currency {
				font-size: .8rem;
				font-weight: bold;
				color: $dark-gray;
				margin-left: 1px;
			}
			color: $black;
			font-weight: bold;
			font-size: $font-size-bigger;
			&.special-price {
				height: 105px;
				margin-top: 6px;
				color: $orange;
				font-size: $font-size-bigger;
				.currency {
					font-size: $font-size;
					color: $orange;
				}
				.striked {
					font-weight: lighter;
					margin-top: 3px;
					color: $dark-gray;
				}
				.normal-price {
					font-size: $font-size;
					color: $orange;
					font-weight: normal;
					.currency {
						font-weight: normal;
					}
				}
				small {
					display: block;
					margin-top: 10px;
					text-transform: uppercase;
					font-size: .7rem;
					letter-spacing: 1.2px;
					color: $black;
					font-style: italic;
				}
			}
		}
		.product-description {
			text-align: left;
			color:$black;
			font-size: .9rem;
			margin:10px 0;
			ul {
				li {
					list-style-type: disc;
					list-style-position: inside;
				}
			}
		}
		.discount {
			position: absolute;
			top: 0;
			right: 0;
			background-color: #FFFF00;
			color: $red;
			font-size: $font-size-small;
			font-weight: bold;
			padding: 4px 6px;
			border-radius: 4px;
			margin-top: 5px;
			margin-right: 5px;
		}
		.btn-buy {
			padding: 0 14px;
			margin-bottom: 10px;
			a {
				font-weight: normal;
				margin-bottom: 0;
			}
		}
		@include breakpoint(medium down) {
			margin-bottom: 15px;
			width: 48%;
    		margin-left: 1%;
    		margin-right: 1%;
    		border: none;
    		&:hover {
				box-shadow: none;
	    	}
    		.img-box {
				border-bottom-left-radius: 4px;
				border-bottom-right-radius: 4px;
			}
			.desc-box {
				padding: 13px 6px;
			}
			.product-price {
				.striked {
					font-size: $font-size-smaller;
				}
				font-size: $font-size-big;
			}
			.btn-buy {
				padding: 0 6px;
				margin-bottom: 7px;
				a {
					font-weight: bold;
				}
			}
			&:nth-child(2n+2){
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}

.search-title {
	display: block;
	font-weight: normal;
	font-size: $font-size-small;
	margin: 0 1rem 1rem 1rem;
	@include breakpoint(large) {
		text-align: center;
		font-size: $font-size-big;
	}
}

.ibox {
	-webkit-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.14);
	padding: 22px 20px 16px 20px;
	border-radius: 10px;
	background:white;
	border:1px solid #f7eeeb;
}

.ptren-price {
	font-size: 24px;
	font-weight: 700;
}
h2.page-title {
	font-size: 30px;
	margin-bottom: 10px;
	@include breakpoint(medium down) {
		font-size: 24px;
	}
}

.small-block {
	@include breakpoint(small only) {
		display: block;
	}
}
.medium-block {
	@include breakpoint(medium only) {
		display: block;
	}
}
.large-block {
	@include breakpoint(large) {
		display: block;
	}
}

.product-options {
	.prod-selector {
		position: relative;
		@include breakpoint(large) {
			margin-top: 60px;
			&:before {
				content: "";
				background:$body-bg;
			    display: block;
			    position: absolute;
			    left: -30px;
			    right: 20px;
			    top: 30px;
			    bottom: -40px;
			    border: 4px solid #f2815707;
			    -webkit-transform: rotate(-5deg);
			    -ms-transform: rotate(-5deg);
			    transform: rotate(-5deg);
			    pointer-events:none;
			    z-index: -10;
			}
			&:after {
				content: "";
				background:$body-bg;
			    display: block;
			    position: absolute;
			    left: -50px;
			    right: 40px;
			    top: 50px;
			    bottom: -60px;
			    border: 4px solid #f2815708;
			    -webkit-transform: rotate(-5deg);
			    -ms-transform: rotate(-5deg);
			    transform: rotate(-5deg);
			    pointer-events:none;
			    z-index: -20;
			}
		}
		
	}
	h2 {
		font-size: 2rem;
		font-weight: 700;
		padding: 0 20px 0 20px;
		margin-bottom: 20px;
		line-height: 2rem;
		@include breakpoint(large) {
			text-align: left;
			font-size: 2.4rem;
			letter-spacing: -2px;
			line-height: 2.8rem;	
		}
	}
	.tabs {
		background:transparent;
		border:none;
		border-bottom: $code-border-light;
		@include breakpoint(large) {
			border-bottom: none;
		}
		.tabs-title {
			margin-bottom: 0;
			@include breakpoint(large) {
				float: none;
				padding-right: 40px;
			}
			a {
				background:transparent;
				font-size: $font-size-big;
				// color:$dark-gray;
				color:$black;
				position: relative;
				font-weight: 300;
				padding-top: 15px;
				padding-bottom: 15px;
				span.text {
					@include breakpoint(large) {
						background:$body-bg;
						display: inline-block;
						z-index: 10;
						position: relative;
						padding: 5px 20px;
						margin-left: 10px;
					}
				}
				@include breakpoint(large) {
					&:before {
						content: "";
						display: block;
						width: 100%;
						height: 1px;
						background:transparent;
						position: absolute;
						top:50%;
						left: 0;
						right: 0;
						z-index: 0;
					}
				}
			}
			&.is-active {
				a {
					color:$orange;
					font-weight: 400;
					&:before {
						background:$orange;
					}
					@include breakpoint(medium down) {
						&:before {
							content:"";
							height: 2px;
							position: absolute;
							bottom:0;
							left: 0;
							right: 0;
							display: block;
						}
					}
					@include breakpoint(large) {
						&:after {
							content: "";
							width: 18px;
							height: 18px;
							display: block;
							border:1px solid $orange;
							background:$body-bg;
							border-radius: 18px;
							position: absolute;
							right: 0;
							top:50%;
							margin-top: -9px;
						}
					}
				}
			}
		}
	}
	.tabs-content {
		background:transparent;
		border:none;
		padding: 10px;
		color:$black;
		@include breakpoint(large) {
			padding: 0 40px 0 80px;
			margin-top: -20px;
		}
		.prod-img {
			margin-bottom: 40px;
			img {
				max-width: 300px;
				width: 100%;
				box-shadow:$deep-shadow;
			}
			@include breakpoint(large) {
				img {max-width: 360px;}
			}
		}
		h3 {
			margin-bottom: 10px;
			font-size: 1.3rem;
			font-weight: 300;
			text-align: center;
			@include breakpoint(medium) {
				font-size: 1.6rem;
				text-align: left;
			}
		}
		.prod-teaser {
			font-size: 16px;
			margin-bottom: 20px;
			@include breakpoint(large) {
				font-size: 18px;
				margin-bottom: 30px;
			}
		}
	}
}
.video-static {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    top: 50%;
    width: 100%;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translateY(-50%);
    box-shadow: 0 16px 58px rgba(63, 49, 178, .08), 0 4px 14px rgba(63, 49, 178, .04);
	img {
		z-index: 1;
	}
	.play-btn {
		position: absolute;
	    z-index: 2;
	    top: 50%;
	    left: 50%;
	    -webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	}
	&:hover {
		.play-btn {
			-webkit-transform: translate(-50%, -50%) scale(1.04);
		    -ms-transform: translate(-50%, -50%) scale(1.04);
		    transform: translate(-50%, -50%) scale(1.04);
		}
	}
}
.play-btn {
	position: relative;
    width: 90px;
    height: 90px;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    border-radius: 100px;
    background-color: white;
    box-shadow: 0 12px 22px rgba(123,69,69, .08), 0 6px 11px rgba(123,69,69, .04);
    &:after {
    	position: absolute;
	    top: 50%;
	    left: 50%;
	    display: block;
	    content: '';
	    -webkit-transition: .4s ease-in-out;
	    transition: .4s ease-in-out;
	    -webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	    border-top: 14px solid transparent;
	    border-bottom: 14px solid transparent;
	    border-left: 24px solid #464a5c;
    }
}
.reward-slider {
	.slick-slide {
		padding: 10px;
	}
	img {
		opacity: 0.4;
    	transition: all 300ms ease;
    	padding: 2%;
    	margin: 10px 0;
	    padding: 2%;
	    position: relative;
	}
	.slick-center {
		img {
			-moz-transform: scale(1.08);
		    -ms-transform: scale(1.08);
		    -o-transform: scale(1.08);
		    -webkit-transform: scale(1.08);
		    color: #e67e22;
		    opacity: 1;
		    transform: scale(1.08);
		}
	}
}
.slick-prev, .slick-next{
	z-index: 10;
	width: 40px;
	height: 40px;
	&:before {
		font-size: 40px;
		color:$medium-gray;
	}
	&:hover {
		&:before {
			color:$orange;
		}
	}
}
.slick-next {
	right: 0;
	@include breakpoint(large) {
		right: -60px;
	}
}
.slick-prev {
	left: 0;
	@include breakpoint(large) {
		left: -60px;
	}
}
.video-reveal {
	text-align: center;
	margin: 0 auto;
	iframe {
		margin-top: 50px;
	}
	@include breakpoint(large) {
		width: 80%;
		height: 80%;
	}
}

.modal-product-reward {
	padding: .5rem;
	font-weight: normal;
	p {
		margin-bottom: 25px;
		text-align: center;
	}
	.button {
		margin-bottom: 8px;
		box-shadow: none;
		&.primary {
			background-color: $blue-paytren;
			color: white;
			font-weight: bold;
			&:hover {
		    	background-color:darken($blue-paytren,6)
			}
		}
		&.bordered-btn {
			&:hover {
		    	background-color:darken($lighter-gray,6)
			}
		}
	}
}

.product-desc {
	.product-row {
		margin-bottom: 30px;
		padding-bottom: 20px;
		border-bottom: $code-border-light;
		@include breakpoint(large) {
			margin-bottom: 40px;
			border-bottom: none;
		}
	}
	.block-header {
		margin-bottom: 0;
		padding-bottom: 0;
		@include breakpoint(large) {

		}
	}
	.block-title {
		font-size: 1.8rem;	
		margin-bottom: 10px;
		@include breakpoint(large) {
			text-align: left;
			// margin-bottom: 0;
		}
	}
	.large-tar {
		@include breakpoint(large) {
			text-align: right;
		}
	}
}

.pagination {
	.current {
		background: $black;
		font-weight: bold;
	}
	.disabled {
		color: $dark-gray;
	}
}


// FOOTER

footer {
	background: $white-smoke;
	border-top: $code-border-light;
	font-weight: normal;
	padding: 1rem 3rem;
	.footer-link {
		margin-bottom: 0;
		li {
			display: inline;
			margin-right: 15px;
			a {
				color: $blue-paytren;
			}
		}
	}
	@include breakpoint(medium down) {
		padding: 1.5rem 1rem;
		text-align: center;
		.footer-link {
			li {
				display: block;
				margin-right: 0;
				margin-bottom: 9px;
				a {
					color: $blue-paytren;
				}
			}
		}
		.tar {
			text-align: center;
			border-top: 1px solid $light-gray;
			padding-top: 1.3rem;
			margin-top: 1.1rem;
		}
	}
}
.pcp-content {
	padding-top: 30px;
}
.pcp-search {
	margin-bottom: 10px;
	@include breakpoint(large) {
		margin-bottom: 30px;
	}
}
.more-product {
	padding: 0 1rem .8rem 1rem;
	.button {
		box-shadow: none;
		background-color: white;
		border-color: $blue-paytren;
		font-weight: bold;
		color: $blue-paytren;
	}
}
.img-promo {
	img {
		width: 100%;
	}
}