@import 'settings';
@import '../bower_components/foundation-sites/scss/foundation.scss';
@import 'customized';

body {
	background:#efefef;
}
.vaganza {
	background: url(../images/vaganza_bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.login-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -55%);
	width: 93%;
	background: white;
	padding: 1.5rem;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 20px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 20px rgba(0,0,0,.2);
	box-shadow: 0 1px 20px rgba(0,0,0,.2);
	.title-vaganza {
		text-align: center;
		font-size: $font-size-big;
		margin-bottom: 1.7rem;
		color: $dark-gray;
		.img-box {
			text-align: center;
			margin-bottom: 8px;
			img {
				max-height: 30px;
			}
		}		
	}
	.fblock {
		margin-bottom: 1rem;
		&:last-child {
			margin-top: 1.7rem;
			margin-bottom: 0;
		}
		label {
			font-size: $font-size-smaller;
			letter-spacing: .5px;
		}
		.button {
			font-weight: bold;
			margin-bottom: .5rem;
		}
	}
	@include breakpoint(large) {
		width: 400px;
		padding: 3rem;
	}
}

.header {
	background: white;
    // background: -webkit-linear-gradient(to right, $red, $orange);
    // background: linear-gradient(to right, $red, $orange);
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 20px;
	padding: 15px 0;
	color: $black;
	text-align: center;
	img {
		max-height: 30px;
	}
}

.content-box {
	padding-bottom: 60px;
	@include breakpoint(large) {
		padding-top: 20px;
	}
	.block-white {
		background: white;
		padding: 2rem;
		border-radius: 10px;
		box-shadow: 2px 2px 4px rgba(0,0,0,.05);
		border:$code-border-light;
		@include breakpoint(large) {
			padding: 3rem;
			&.left-panel {
				padding: 3rem 2rem;
			}
		}
		.title-block {
			padding-bottom: 10px;
			font-size: $font-size-smaller;
			font-weight: bold;
			color: $dark-gray;
			text-transform: uppercase;
			letter-spacing: 1.5px;
		}
		label {
			font-size: $font-size-smaller;
		}
		.table-responsive {
			overflow-y: auto;
			table {
				border-collapse: inherit;
				border: none;
				thead tr td {
					border-bottom: 1px solid $lighter-gray;
				}
				tr:nth-child(even) td {
					background: white;
					padding: 16px 13px 14px 13px;
					border-top: 1px solid $lighter-gray;
					border-bottom: 1px solid $lighter-gray;
				}       
				tr:nth-child(odd) td {
					background: white;
					padding: 16px 13px 14px 13px;
				}
				.button {
					background: white;
					margin-bottom: 0;
					padding: 7px 14px;
					font-weight: bold;
					@include breakpoint (medium down) {
						width: 100%;
						// margin-bottom: 20px;
						display: block;
					}
				}
			}
		}	
		.add-more {
			color: $orange;
			font-weight: bold;
			font-size: $font-size-smaller;
			text-transform: uppercase;
		}
	}
}

.ticket-box {
	// background: $lighter-gray;
	border-top: $code-border-light;
	// padding-top: 10px;
	padding: 14px 0px 0 0px;
	margin-top: 10px;
	margin-bottom: 20px;
	.del-tic {
		color: $orange;
		font-size: $font-size-smaller;
		float: right;
		font-weight: bold;
	}
}

.left-panel {
	.panel-header,.panel-info,.panel-nav {
		padding-bottom: 15px;
		margin-bottom: 15px;
		border-bottom: $code-border-light;
	}
	.panel-header {
		.subtext {
			font-size: $font-size-small;
			color:$dark-gray;
		}
	}
	.panel-info {
		border-bottom: none;
		margin-bottom: 0;
		color:$dark-gray;
		font-size: $font-size;
		.title-block {
			@include breakpoint (large) {
				// text-align: center;
			}
		}
	}
	.panel-nav {
		
		ul {
			margin-bottom: 0;
			li {
				margin-bottom: 5px;
				// a {color:$black;}
			}
		}
		.active {
			a {color:$black;}
		}
	}
}
.numtext {
	font-size: $font-size-big;
	color:$black;
	font-weight: bold;
}
.blq-pagination {
	text-align: center;
	li {
		a {
			width: auto;
			height: auto;
			background:transparent;
			border: none;
		}
	}
}
.desc-text {
	font-size: $font-size-small;
	color:$dark-gray;
}
.blq-accordion {
	.accordion-title {
		border:none;
		border-bottom: $code-border-light;
		color:$black;
		font-size: $font-size-small;
		font-weight: bold;
		background:transparent;
	}
	.accordion-content {
		border:none;
		color:$black;
		font-size: $font-size-small;
	}
}
.callout {
	padding: 1rem 2rem;
}
.infotext {
	font-size: $font-size-small;
	font-style: italic;
	color:$dark-gray;
}
.content-box .form-mitra {
	label {
		font-size: $font-size-small;
		font-weight: bold;
	}
}
.table-responsive {
	@include breakpoint(medium down) {
		tr {
			padding: 20px;
			border:$code-border-light;
			background:transparent !important;
			margin-bottom: 10px;
		}
		td {
			padding: 16px 13px 14px 13px;
		    border-top: none !important;
		    border-bottom: 1px solid #f1f1f1;
		    &:last-child {
		    	border-bottom:none !important;
		    }
		}
	}
}